.container {
  max-width: 700px;
  margin: 60px auto;
  padding: 30px;
  background: #0f172a;
  /* dark slate */
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.input {
  width: 100%;
  padding: 12px 14px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: #e5e7eb;
  outline: none;
  margin-bottom: 16px;
}

.input::placeholder {
  color: #94a3b8;
}

.textarea {
  width: 100%;
  padding: 14px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: #e5e7eb;
  outline: none;
  resize: vertical;
  margin-top: 10px;
}

.textarea::placeholder {
  color: #94a3b8;
}

.button {
  width: 100%;
  margin: 18px 0;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #6366f1, #22d3ee);
  color: #020617;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.button:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}

.row {
  display: flex;
  align-items: center;
  gap: 12px;
  /* space between input & button */
}

.titleInput {
  flex: 0 0 65%;
}

.textareaWrapper {
  position: relative;
}

.copyBtn {
  position: absolute;
  top: 14px;
  right: 14px;

  background: #020617;
  border: 1px solid #334155;
  color: #e5e7eb;

  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;

  font-size: 16px;
}

.copyBtn:hover {
  background: #0f172a;
}


.actionButton {
  flex: 0 0 20%;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: linear-gradient(135deg, #6366f1, #22d3ee);
  color: #020617;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.actionButton:hover {
  transform: translateY(-1px);
  opacity: 0.95;
}